*.pro.user*
*.qbs.user*
debug
release
*.autosave

# build intermediates
build_script/
qt-demo/.moc/
qt-demo/.obj/
qt-demo/.pch/
qt-demo/.uic/
qt-demo/Makefile
qt-demo/Makefile.Debug
qt-demo/Makefile.Release
